.container-customers {
  margin: 0 72px 60px 72px;
}

.container-customers h2 {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}

.container-customers form {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  background-color: #ffffff;
  padding: 40px 225px;
}

.container-customers form label {
  display: flex;
  flex-direction: column;

  margin: 16px 0;
  width: 100%;
  color: #374952;
  font-weight: 600;
  font-size: 16px;
}

.container-customers form input {
  height: 35px;
  border: 1px solid #374952;
  border-radius: 8px;
  padding: 5px;
  color: #323232;
  font-size: 12px;
}

.container-customers form input {
  margin-top: 8px;
}

.container-customers div {
  display: flex;
  width: 100%;
}

.container-customers div label {
  margin-right: 16px;
}

.container-customers div label:last-child {
  margin-right: 0;
}

.container-customers .container-buttons {
  display: flex;
  justify-content: flex-end;
}

.container-customers button {
  background-color: transparent;
  border: 2px solid #da0175;
  color: #da0175;
  padding: 0.5em 3em;
  border-radius: 20px;
  margin: 32px 0 16px 16px;
  font-weight: 600;
}

.container-customers button:hover {
  background-color: #da0175;
  color: #ffffff;
}

.container-customers .config-button {
  color: white;
  border-color: transparent;
  background-color: rgba(218, 1, 117, 0.35);
}

.container-customers .config-button:hover {
  background-color: rgba(218, 1, 117, 0.35);
}

.container-customers .config-button-selected {
  background-color: #da0175;
  color: white;
}

.container-customers .config-button-selected:hover {
  background-color: #da0175de;
}
