.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 60px 72px 46px 72px;
}

.container-nav .add-client {
  padding: 12px 60px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #da0175;
  color: #da0175;
  font-weight: 600;
}

.container-nav .add-client:hover {
  background-color: #da0175;
  color: #ffffff;
}

.container-nav .container-search input {
  border: 1px solid #374952;
  border-radius: 8px;
  padding: 12px 24px;
  height: 40px;
  margin: 0;
  width: 450px;
}

.container-nav .container-search {
  position: relative;
}

.container-nav .container-search button {
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: #374952;
  padding: 12px 23px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  bottom: 0;
}

.container-nav .container-search button:hover {
  background-color: #374952de;
}

.container-nav button > div {
  display: flex;
  align-items: center;
}

.container-nav button > div img {
  margin-right: 10px;
}

.container-main {
  margin: 0 72px;
}

.container-main table {
  border-collapse: separate;
  border-spacing: 0 16px;
  width: 100%;
  text-align: left;
}

.container-main table thead th {
  background-color: #9dbbc3;
  color: #ffffff;
  padding: 6px 24px;
  font-weight: 600;
}

.container-main thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container-main thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-main tbody td {
  background-color: #ffffff;
  padding: 16px 23px;
}

.container-main tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container-main tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-main tbody .status {
  text-transform: uppercase;
}

.container-main tbody .datas img {
  margin-right: 9px;
}

.container-main tbody .datas div {
  padding: 3px 0;
}

.container-main tbody .datas div:first-child {
  padding-bottom: 12px;
}

.container-main tbody button {
  background-color: transparent;
  border: 0;
}

.container-main .container-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 20px;
  margin-bottom: 60px;
}

.container-main .container-buttons button {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
}

.container-main .back-page,
.container-main .back-page {
  margin: 0;
  padding: 0;
}
