body {
  background-color: #f7f7f7;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-login form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 25.5rem;
  width: 100%;
  padding: 4.5rem;
  padding-top: 3rem;
  background: #ffffff;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}

.container-login form > img {
  margin-bottom: 1.8rem;
}

.container-login label {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #4c4c4c;
  margin: 1.25rem 0;
  padding: 0 0.3rem;
  width: 100%;
  font-weight: 600;
  color: #374952;
}

.container-login input::placeholder {
  color: #a5a5a5;
}

.container-login label:last-of-type {
  margin-bottom: 1rem;
}

.container-login input {
  margin: 0.9rem 0;
  padding: 0.8rem 0.3rem;
  height: 1.5rem;
  border: 0;
  font-size: 0.85em;
}

.container-login .input-password {
  font-size: 1.5em;
}

.container-login .input-password.teste {
  font-size: 0.85em;
}

.container-login .forgot-password {
  font-size: 0.75em;
  align-self: flex-end;
  color: #263238;
}

.container-login .forgot-password a:hover {
  color: #263238b7;
}

.container-login .forgot-password a:visited {
  color: #263238;
}

.container-login form > button {
  margin-top: 3rem;
  background: rgba(218, 1, 117, 0.35);
  border-radius: 1.25rem;
  color: #ffffff;
  padding: 0.75rem 3.75rem;
  border: 0;
}

.container-login form > button:hover {
  cursor: default;
}

.container-login .not-disabled {
  background: #da0175;
}

.container-login .not-disabled:hover {
  background: #da0175de;
  cursor: pointer;
}

.container-login .msg-signup {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 0.85rem;
}

.container-login .msg-signup a {
  color: rgba(218, 1, 117, 0.35);
  font-weight: 500;
}

.container-login .msg-signup a:hover {
  color: rgba(218, 1, 117, 0.267);
}

.container-password {
  position: relative;
}

.container-password label > button {
  border: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0.8rem;
  right: 0.9rem;
}

:focus:not(:focus-visible) {
  outline: 0;
}
