.container-content-form .charge-value {
  flex: 1;
}

.container-content-form .charge-expiration {
  flex: 1.5;
}

.container-content-form span {
  font-size: 12px;
  font-weight: normal;
  color: #868686;
}

textarea {
  margin-bottom: 5px;
}

select {
  margin-top: 5px;
  padding: 8px 5px;
  border: 1px solid #374952;
  border-radius: 8px;
}
