* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f7f7f7, 100%;
  min-height: 100vh;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

/* --------Colunas-------- */
.columns {
  display: flex;
}

.column-menu-bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #263238;
  max-width: 280px;
  flex-grow: 1;
  min-height: 100vh;
}

.column-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

/* --------Navs-------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 45px;
  margin: 60px 72px 40px 72px;
}

nav button {
  padding: 12px 60px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #da0175;
  color: #da0175;
  font-weight: 600;
}

nav button:hover {
  background-color: #da0175;
  color: #ffffff;
}

nav .container-search input {
  border: 1px solid #374952;
  border-radius: 8px;
  padding: 12px 24px;
  height: 40px;
  margin: 0;
  width: 450px;
}

nav .container-search {
  position: relative;
}

nav .container-search button {
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: #374952;
  padding: 12px 23px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  bottom: 0;
}

nav .container-search button:hover {
  background-color: #374952de;
}

nav button > div {
  display: flex;
  align-items: center;
}

nav button > div img {
  margin-right: 10px;
}

/*--------Tabelas--------*/
.container-table {
  margin: 0 72px;
}

table {
  border-collapse: separate;
  border-spacing: 0 16px;
  width: 100%;
  text-align: left;
}

table thead th {
  background-color: #9dbbc3;
  color: #ffffff;
  padding: 6px 23px;
  font-weight: 600;
}

thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody td {
  background-color: #ffffff;
  padding: 16px 23px;
  line-height: 20px;
}

tbody .data-name {
  font-weight: 600;
  color: #4c4c4c;
}

tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody .status {
  text-transform: uppercase;
}

tbody td img {
  margin-right: 9px;
}

tbody button {
  background-color: transparent;
  border: 0;
}

/* Botões de navegação das tabelas (próxima págia e página anterior) */
.container-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 20px;
  margin-bottom: 60px;
}

.container-buttons button {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
}

.back-page,
.next-page {
  margin: 0;
  padding: 0;
}
