.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 60px 72px;
}

.container-nav .add-client {
  padding: 12px 60px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #da0175;
  color: #da0175;
  font-weight: 600;
}

.container-nav .container-search input {
  border: 1px solid #374952;
  border-radius: 8px;
  padding: 12px 24px;
  height: 40px;
  margin: 0;
  width: 450px;
}

.container-nav .container-search {
  position: relative;
}

.container-nav .container-search button {
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: #374952;
  padding: 12px 23px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  bottom: 0;
}

.container-nav button > div {
  display: flex;
  align-items: center;
}

.container-nav button > div img {
  margin-right: 10px;
}

.container-main {
  margin: 0 72px;
}

.container-main table {
  border-collapse: collapse;
  width: 100%;
}

.container-main thead th {
  background-color: #9dbbc3;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 24px;
}

.container-main thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container-main thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
